<div class="catalog-filter-cont">
    <div class="filter-title">
        Фильтр по параметрам
    </div>
    <div class="catalog-filter-f">
        <form method="get" action="{{ action }}">
            <input type="hidden" name="page" value="1">
            <input type="hidden" name="view" value="{{ view }}">
            <input type="hidden" name="sort" value="{{ sort }}">
            <input type="hidden" name="sort_n" value="{{ sortN }}">
            <div class="form-select">
                <select class="filter-select" name="brand">
                    <option value="">Производитель</option>
                    {% for filter_item in filters.brand %}
                        <option {{ (filterSelect['brand'] is defined and filterSelect['brand'] == filter_item.p ? 'selected' : '') }} value="{{ filter_item.p }}">{{ filter_item.p }} [{{ filter_item.c }}]</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-select">
                <select class="filter-select" name="tire_category">
                    <option value="">Категория</option>
                    {% for filter_item in filters.tire_category %}
                        <option {{ (filterSelect['tire_category'] is defined and filterSelect['tire_category'] == filter_item.p ? 'selected' : '') }} value="{{ filter_item.p }}">{{ filter_item.p }} [{{ filter_item.c }}]</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-select">
                <select class="filter-select" name="tire_size">
                    <option value="">Типоразмер</option>
                    {% for filter_item in filters.tire_size %}
                        <option {{ (filterSelect['tire_size'] is defined and filterSelect['tire_size'] == filter_item.p ? 'selected' : '') }} value="{{ filter_item.p }}">{{ filter_item.p }} [{{ filter_item.c }}]</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-select">
                <select class="filter-select" name="tire_diameter">
                    <option value="">Диаметр</option>
                    {% for filter_item in filters.tire_diameter %}
                        <option {{ (filterSelect['tire_diameter'] is defined and filterSelect['tire_diameter'] == filter_item.p ? 'selected' : '') }} value="{{ filter_item.p }}">{{ filter_item.p }} [{{ filter_item.c }}]</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-select">
                <select class="filter-select" name="tire_type">
                    <option value="">Радиальная / Диагональная</option>
                    {% for filter_item in filters.tire_type %}
                        <option {{ (filterSelect['tire_type'] is defined and filterSelect['tire_type'] == filter_item.p ? 'selected' : '') }} value="{{ filter_item.p }}">{{ filter_item.p }} [{{ filter_item.c }}]</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-select">
                <select class="filter-select" name="tire_execut">
                    <option value="">Исполнение</option>
                    {% for filter_item in filters.tire_execut %}
                        <option {{ (filterSelect['tire_execut'] is defined and filterSelect['tire_execut'] == filter_item.p ? 'selected' : '') }} value="{{ filter_item.p }}">{{ filter_item.p }} [{{ filter_item.c }}]</option>
                    {% endfor %}
                </select>
            </div>
            <div style="text-align: right; margin-bottom: 10px; margin-top: 20px;">
                <button class="btn-n filter-submit" type="submit">Показать</button>
            </div>
            <div style="text-align: right;">
                <a class="filter-reset" href="{{ resetLink }}">Сбросить</a>
            </div>
        </form>
    </div>
</div>