<p>
    Пришла заявка (Обратная связь) с сайта {{ protocol_http }}{{ domain }}:
</p>

<p>
    Имя: {{ formName }}
</p>
<p>
    Email: {{ formEmail }}
</p>
<p>
    Телефон: {{ formPhone }}
</p>
<p>
    Комментарий: {{ formComment }}
</p>